* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FuturaBT-Book, 'Futura Bk BT';
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
div {
    margin-top: 100px;
}
#container {
    max-width: 100%;
    margin: 0 auto;
}
#container2 {
    max-width: 100%;
    margin: 0 auto;
    background: darkmagenta;
    padding: 3%;
}
#topbar {
    max-width: 100%;
    padding: 5px;
}
#bottombar {
    max-width: 100%;
    padding: 152px;
}
#div2 {
    margin-top: 83px;
}
#div3 {
    max-width: 95%;
}
#div4 {
    padding: 5%;
    text-align: center;
}
#div5 {
    padding: 1%;
    text-align: left;
}
#div6 {
    margin-top: 0;
}
#header2 {
    position: fixed;
    top: 8%;
    left: 0;
    display: table;
}
#footer {
    bottom: 8%;
    right: 0;
    max-width: 100%;
    margin-bottom: auto;
}
#footer2 {
    position: fixed;
    bottom: 8%;
    right: 0;
    display: table;
}
.primaryText {
    fill: #000;
    font-family: FuturaBT-Book, 'Futura Bk BT';
    font-size: 24px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 2px solid black;
}
.headerSylenth {
    font-size: 32px;
    color: #000;
    text-decoration: none;
    font-weight: 550;
}
.headerNav a {
    font-family: FuturaBT-Book, 'Futura Bk BT';
    font-size: 25px;
    color: black;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}
.headerNav a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #000;
}
.headerNav a:hover::before {
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 20px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border: 2px solid black;
}
.footerLeft {
    font-size: 32px;
    color: #000;
    text-decoration: none;
    font-weight: 550;
    text-align: left;
}
.footerRight {
    display: flex;
    justify-content: right;
    fill: #000;
    font-family: FuturaBT-Book, 'Futura Bk BT';
    font-size: 32px;
}
.footerBeatTime {
    display: flex;
    justify-content: right;
    fill: #000;
    font-family: FuturaBT-Book, 'Futura Bk BT';
    font-size: 32px;
    font-weight: 600;
}
.ButtonMarquee {
    position: relative;
    width: 100%;
    background: black;
    z-index: 100;
    display: flex;
}
.ButtonMarquee1 {
    display: flex;
    padding: 10px;
}
.phraseMarquee {
    position: fixed;
    width: 100%;
    background: black;
    z-index: 100;
    display: block;
    top: 0%;
    left: 0%;
    color: white;
    font-size: 16px;
}
.phraseMarquee1 {
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
.socialIcons {
    display: flex;
    justify-content: center;
}
.socialIcons a {
    text-decoration: none;
    margin: 10px;
}
.socialIcons a i {
    color: black;
    opacity: 0.9;
}