@font-face {
    font-family: "Futura BK";
    src: url(../fonts/FuturaBookfont.ttf);
}

html {
    height: 100vh;
    width: 100vw;
    min-width: 680px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.landingScreen a {
    user-select: none;
    display: block;
    font-family: "Futura BK";
    font-size: 250px;
    font-weight: 125;
    text-decoration: none;
    color: white;
    line-height: 175px;
}

.landingScreen p {
    color: white;
    user-select: none;
    margin: 9px 0 0 0;
    font-family: "Futura BK";
    font-weight: 250;
    font-style: normal;
    font-size: 42px;
    text-align: center;
}